.data {
  &__table {
    width: 2500px;
    &__cell{
      border: 1px solid black;
      transition: background-color 250ms ease;
      height: 32px;
      cursor: pointer;
    }
    &__text{
      margin: 0;
      text-align: center;
      font-size: 18px;
    }
  }
}
table-list{
  width: 100%;
  height: calc(100vh - 100px);
  display: block;
  border: 5px solid black;
  overflow: scroll;
  margin: 0;
  padding: 0;
}